<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 login-container mt-5  shadow p-2">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center">Register Now!</h2>
            <hr>
            <form action="{% url 'register' %}" method="POST"> 
              {% csrf_token %}
              {{form}}
              <button type="submit" class="btn btn-primary btn-block mt-2">Register</button>
            </form>

            <strong>Already! Have an account <a href="{% url 'login' %}" style="text-decoration: none;">Login Now!</a></strong>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS (optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
